body
{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Roboto, sans-serif;
}

button
{
    background-color: #3882f6;
}

a
{
    text-decoration: none;
    color: inherit;
}

.header,
.hero,
.footer
{
    background-color: #1f2937;
}

.header .logo
{
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
}

.header .link,
.hero .secondary-text,
.infromation-header .secondary-text
{
    font-size: 18px;
    color: #e5e7eb;
}

.header
{
    display: flex;
    justify-content: space-between;
    padding: 16px 200px;
    align-items: center;
}

.links
{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.hero .main-text
{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8;
}

.hero
{
    display: flex;
    padding: 150px 200px;
    min-height: 200px;
}

.hero div
{
    flex: 1;
}
.hero img
{
    flex: 1;
    background-color: gray;
}

.infromation-header .text
{
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.infromation-header .secondary-text
{
    color: 	#696969;
}

.infromation-header
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px 200px;
    min-height: 200px;
}
.infromation-header .text
{
    padding: 44px;
}
.infromation-header .info
{
    display: flex;
    justify-content: space-around;
    gap: 52px;
}
.text-image img,
.text-image .secondary-text
{
    width: 150px;
    height: 150px;
    text-align:center;
}

.quote-section
{
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    min-height: 200px;
    padding: 125px 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
}
.signature
{
    font-size: 28px;
    font-weight: bold;
    font-style: normal;
    margin-right: 32px;
    text-align: end;
}

.button-section
{
    background-color: #3882f6;
    margin: 150px 200px;
    font-size: 28px;
    display: flex;
    padding: 50px 150px;
    justify-content: space-between;
}
.button-section .main-text
{
    font-weight: 800;
    color: #f9faf8;
}
.button-section .secondary-text
{
    font-size: 20px;
    color: 	lightgrey;
}

.footer
{
    position: relative;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}